.wp-block-create-block-uncommon-cta-popup {
	position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
  background-color: var(--wp--preset--color--crispy-yellow);
  padding: .6rem 2rem;
  border-radius: 1rem;
  max-width: 800px!important;
}
.uncommon-cta-popup-content {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-width: 800px;
}
.uncommon-cta-popup-title {
  text-align: center;
  cursor: pointer;
}
.uncommon-cta-popup-content {
  width: 70vw;

  & > :last-child {
    margin-bottom: 0.4rem;
  }
}    
.uncommon-cta-popup--active {
  .uncommon-cta-popup-content {
    height: var(--popup-height);
    animation: fadeIn 0.3s ease-out 0.2s both;
  }
}
.uncommon-cta-popup--inactive {
  .uncommon-cta-popup-content {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}